@{
    ViewBag.Title = "Home Page";
}

<style>
    .homee img{
        width:1500px;
        height:400px;
        margin-left:-192px;
        margin-top: -20px;
    }
</style>

<div class="homee">
    <img src="~/Imagem/propaganda1.png"/>
</div>
<div class="meio">
    <center><font size="30px" face="harry p" color="#E8BF55"><h1>FILMES</center></h1></font>
    <div class="giraa">
        <marquee>
            <div class="box">
                <a href="https://youtu.be/xKOPA_eT4UY">
                    <button class="btn1" type="button">
                        <center><font size="03px" face="Edo SZ" color="#fff"><h1>ASSISTIR</center></h1></font>
                    </button>
                </a>
            </div>

            <div class="boxx">
                <a href="https://play.google.com/store/movies/details/HP2_e_a_C%C3%A2mara_Secreta?id=KDArR-hYvFA.P&hl=pt&gl=US">
                    <button class="btn1" type="button">
                        <center><font size="03px" face="Edo SZ" color="#fff"><h1>ASSISTIR</center></h1></font>
                    </button>
                </a>
            </div>

            <div class="boxxx">
                <a href="https://play.google.com/store/movies/details/HP3_e_o_Prisionero_de_Askaban?id=rl7MNIXRqY8.P&hl=pt&gl=US">
                    <button class="btn1" type="button">
                        <center><font size="03px" face="Edo SZ" color="#fff"><h1>ASSISTIR</center></h1></font>
                    </button>
                </a>
            </div>

            <div class="boxxxx">
                <a href="https://play.google.com/store/movies/details/HP4_e_o_C%C3%A1lice_de_Fogo?id=e7gpC98eYcU.P&hl=pt&gl=US">
                    <button class="btn1" type="button">
                        <center><font size="03px" face="Edo SZ" color="#fff"><h1>ASSISTIR</center></h1></font>
                    </button>
                </a>
            </div>

            <div class="boxxxxx">
                <a href="https://play.google.com/store/movies/details/HP5_e_a_Ordem_da_F%C3%AAnix?id=xr2YyC9fdlw.P&hl=pt&gl=US">
                    <button class="btn1" type="button">
                        <center><font size="03px" face="Edo SZ" color="#fff"><h1>ASSISTIR</center></h1></font>
                    </button>
                </a>
            </div>

            <div class="boxxxxxx">
                <a href="https://play.google.com/store/movies/details/HP6_e_o_Enigma_do_Principe?id=UJB9UuAbFx4.P&hl=pt&gl=US">
                    <button class="btn1" type="button">
                        <center><font size="03px" face="Edo SZ" color="#fff"><h1>ASSISTIR</center></h1></font>
                    </button>
                </a>
            </div>

            <div class="boxxxxxxx">
                <a href="https://play.google.com/store/movies/details/HP7_e_as_Reliquias_da_Morte_Parte_1?id=GDNzxCsA9Do.P&hl=pt&gl=US">
                    <button class="btn1" type="button">
                        <center><font size="03px" face="Edo SZ" color="#fff"><h1>ASSISTIR</center></h1></font>
                    </button>
                </a>
            </div>

            <div class="boxxxxxxxx">
                <a href="https://play.google.com/store/movies/details/HP7_e_as_Reliquias_da_Morte_Parte_2?id=wWDk-seACgM.P&hl=pt&gl=US">
                    <button class="btn1" type="button">
                        <center><font size="03px" face="Edo SZ" color="#fff"><h1>ASSISTIR</center></h1></font>
                    </button>
                </a>
            </div>
        </marquee>
        <hr size="2px" width="1500px" />
    </div>
